@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
    background: linear-gradient(90deg, #00D2FF 0%, #3A47D5 100%);
    color: #FFFFFF;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-top: 15%;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-weight: 400;


}

span {
    color: #1F1F1F;
    font-size: 100px;
    font-weight: 400;
}
p {
    text-align: center;
    margin-top: -20px;
    font-size: 20px;
    letter-spacing: 3px;
}

button {
    margin: auto;
    display: block;
}

.btn {
    background-color: transparent;
    border: 2px solid #1F1F1F;
    border-radius: 0.6em;
    color: #1F1F1F;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 400;
    padding: 1.2em 3.8em;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
.btn:hover {
    color: #FFFFFF;
    outline: 0;
    background-color: #1F1F1F;
}

.web {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.web:hover {
    box-shadow: 0 0 40px 40px #1F1F1F inset;
}
.footer {
    background-color: #1F1F1F;
    color: #FFFFFF;
    margin-top: 80px;
    position: relative;
}