body{
  font-family: sans-serif;
  margin: 0;
  background: #151718;
}

.bg {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form > * {
  border: 0;
  padding: 6px;
  background: #FFFFFF;
  font-size: 20px;
}
.form input[type="submit"] {
  background: #2980B9;
  border: 2px solid #2980B9;

}